<!--Copy me and name me Auth.config, then setup all the values.
    Credentials must be formated as CredentialProviderName + [Key|Secret]
    in order to take advantage of the Configuration Wrapper-->
<appSettings>
  <add key="BitBucketKey" value=""/>
  <add key="BitBucketSecret" value=""/>
</appSettings>